@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
.sidebar {
  position: fixed;
  top: 0;
  left: -220px; /* Oculto inicialmente */
  width: 220px;
  height: 100%;
  background-color: #fff;
  padding-top: 60px; /* Altura de la barra de navegación */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Para asegurarse de que este por encima de otros elementos */
  transition: left 0.3s; /* Transición suave para mostrar/ocultar */
}
.sidebar a {
  border: none;
  color: #000000;
  display: block;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0px 2px 2px rgba(184, 181, 181, 0.2); /* Sombra en la parte baja */
}

.sidebar a:hover {
  text-decoration: none;
  color: #000000;
  background-color: red;
}
#sidebarToggle{
  background-color: #ffffff;
}

/* Ajuste del contenido principal para dejar espacio a la barra lateral */
.main-content {
  margin-left: 0; /* Ajuste el margen izquierdo inicial */
}

.sidebar.show {
  left: 0; /* Mostrar la barra lateral */
}

#select__navbar {
  border: none;
  font-weight: 500;
  background-color: #ffffff;
  color: #020202;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 5px;
  font-size: 16px;
}



.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.search-container {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

.search-form {
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.search-input {
  width: 40%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-button {
  background-color: rgb(214, 143, 143);
  color: #050505;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:focus {
  outline: none;
}

/* Ajuste para el encabezado */
header {
  position: relative;
}

header .container {
  position: relative;
  z-index: 2;
}
nav .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Superposición oscura */
  z-index: 1;
}

header .display-4,
header .lead {
  position: relative;
  z-index: 3;
}

.profile__var {
  height: 40px;
  width: 40px;
}

.navbar-brand {
  color: rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 300;
}

.navbar-custom {
  background-color: #1cc2c2; /* Fondo blanco */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra en la parte baja */
}

.py-5 {
  background-color: #ffffff;
}

.footer-custom {
  background-color: #000;
}
#sidebarToggle {
  border: none;
  text-decoration: none;
  outline: none;
  margin-right: 20px;
  background-color: transparent;
}

