
body {
  margin: 0;
  padding-top: 60px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #ffebc0;
  padding-top: 60px; /* Altura de la barra de navegación */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Para asegurarse de que este por encima de otros elementos */
}

#select__navbar {
  border: none;
  background-color: #fa9939;
  font-weight: 500;
  color: #080808;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 5px;
  font-size: 16px;
}

.sidebar a {
  border: none;
  background-color: #ffffff;
  color: #000000;
  display: block;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 2px 2px rgba(9, 9, 9, 0.2); /* Sombra en la parte baja */
}

.sidebar a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #dc9300;
}

/* Ajuste del contenido principal para dejar espacio a la barra lateral */
.main-content {
  margin-left: 220px; /* Ancho de la barra lateral más un pequeño margen */
}

.card {
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}

.search-container {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
  left: 10%;
  width: 70%;
}

.search-input {
  flex-grow: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-button {
  background-color: #fa9939;
  color: #050505;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:focus {
  outline: none;
}

/* Ajuste para el encabezado */
header {
  position: relative;
}

header .container {
  position: relative;
  z-index: 2;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Superposición oscura */
  z-index: 1;
}

header .display-4,
header .lead {
  position: relative;
  z-index: 3;
}
.profile__var {
  height: 40px;
  width: 40px;
}
.navbar-brand {
  
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 300;
}
.navbar-custom {
  width: 100%;
  background-color: #639192; /* Fondo blanco */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra en la parte baja */
}
.py-5 {
  background-color: #3990d2;
}
