*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#sidebar-wrapper {
  position: absolute;
  top: 50px;
  bottom: 52px;
  left: 0;
  width: 200px;
  background-color: rgb(228, 223, 223);
  z-index: 10;
  transition: ease-in-out 1s;
  padding: 0 10px;
  overflow: none;
}
.contenedorMain{
      position: absolute;
      top: 50px;
      bottom: 50px;
      left: 200px;
      right: 0;
      overflow: auto;
      padding: 0 35px;
      z-index: 1;
      background: linear-gradient(to right,#131212,#3b3e3e,#1cc2c2);
      overflow: auto;
}
.navbar-test{
  color: white;
  background-color: #000000 !important;
  height: 50px;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.btn{
  margin-right: 10px;
}
.main-contenedor2{
  display: flex;
  justify-content: center;
}
.btn-custom{
  position: relative;
  bottom:3px;
  margin-left: 10px;
  color: white;
  background:linear-gradient(to bottom,#000000,#3e3d9d);
}
.btn-custom:hover{
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); 
  background:linear-gradient(to bottom,#5d5c5c,#2e2bc4);
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to right,#131212,#3b3e3e,#156969);
  text-align: center;
  border-top: 2px solid var(--color-primario);
  z-index: 5;
  box-shadow: 0 -5px 50px 4px var(--color-sombra);
}
.footer__p{
  color: aliceblue;
  margin-top: 15px;
}
.togeter{
  display: flex; /* Para utilizar flexbox y alinear elementos */
  justify-content:center; /* Para espaciar los elementos a lo largo del contenedor */
  align-items: center; /* Para alinear verticalmente los elementos */
}
.search-bar-wrapper{
  width: 60%;
}
.bar-custom{
  border: none;
  margin:10px 0 0 0 !important;

}
.edit-product{
  
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.table-column-width {
  width: 50px;
}
